<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <form method="POSt" action="{{ url_for('home') }}">
        {{ form.hidden_tag() }}

        {{ form.name.label }}
        {{ form.name }}

        {{ form.submit.label }}
        {{ form.submit }}
    </form>
    <div>
        <ul>
            {% for product in products %}
                <li>{{ product.name }}</li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>